.table {
    text-align: center;
    background-color: var(--tableColor);
    border-radius: 8px;
}

th {
    color: white;
}

.table>tr {
    background-color: grey;
}

.table>tr:hover {
    background-color: rgb(148, 148, 148);
}


.dropdown-menu {
    display: none;
}

.dropdown-menu.open {
    display: block;
}


.popup-form {
    width: 100%;
}

.popup-form>tr {
    height: 40px;
}

.popup-form-field-name {
    font-size: 18px;
    width: fit-content
}

.popup-form-field-input {
    width: 100%;
}

.popup-form-field-input>div {
    margin-left: 20px;
}

.popup-form-field-input>div>input {
    width: 100%;
}