/* You can add global styles to this file, and also import other style files */

body {
    min-width: 100sw;
    min-height: 100sh;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    /* font-family: "Geneva", monospace; */
}

:root {
    --backgroundColor: rgb(32, 33, 36);
    --textColor: rgb(255, 255, 255);
    --buttonRadius: 4px;
    --buttonColor: rgb(41, 61, 93);
    --buttonColorHover: rgb(83, 114, 163);
    --tableColor: rgb(41, 61, 93);

    --popupCloseColor: rgb(59, 77, 240);
    --popupRadius: 8px;
    --popupBackground: rgba(29, 30, 32, 0.877);
    --popupText: lightgray;
}

.btn-primary {
    background-color: var(--buttonColor) !important;
    border-color: var(--buttonColor) !important;
    border-radius: var(--buttonRadius) !important;
}

.btn-primary:hover {
    background-color: var(--buttonColorHover) !important;
}

.background-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, .4);
    z-index: 1;
    top: 0;
    left: 0;
}