/* You can add global styles to this file, and also import other style files */

body {
    min-width: 100sw;
    min-height: 100sh;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    /* //font-family: "Geneva", monospace; */
}

:root{
    --backgroundColor: rgb(32, 33, 36);
    --textColor: rgb(255, 255, 255);
    --buttonRadius: 4px;
    --buttonColor: rgba(35, 38, 204, 0.548);
    --buttonColorHover: rgba(76, 79, 248, 0.589);
    --tableColor: rgb(36, 37, 41);

    --popupCloseColor: rgb(59, 77, 240);
    --popupRadius: 8px;
    --popupBackground: rgba(29, 30, 32, 0.877);
    --popupText: lightgray;
}

.btn-primary {
    background-color: var(--buttonColor) !important;
    border-color: var(--buttonColor) !important;
    border-radius: var(--buttonRadius) !important;
}

.btn-primary:hover {
    background-color: var(--buttonColorHover) !important;
}